# Ignore Python cache files
__pycache__/
*.py[cod]
*.sqlite3

# Ignore environment files
env/
venv/
*.env

# Ignore Django migrations and logs
*.log
*.db
db.sqlite3

# Ignore compiled Python files
*.pyc

# Ignore VS Code settings
.vscode/
