{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit_Profile</title>
    <link rel="stylesheet" href="{% static 'css/prof_edit.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- home section starts here  -->
    <div class="first">
        <section class="home">
            <div class="home-box">
                <nav>
                    <div class="logo bars">
                        <div class="bar">
                            <i class="fa fa-bars"></i>
                        </div>
                        <a href="{% url 'home' %}">DestFinder</a>
                    </div>
                    <div class="menu">
                        <div class="close">
                            <i class="fa fa-close"></i>
                        </div>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'destination' %}">Destination</a></li>
                                <li><a href="{% url 'budget_calculator' %}">Budget Calculator</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                            {% else %}
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </div>
    <header>
        <h1 style="font-family: 'Times New Roman', Times, serif;">Edit Your Profile</h1>
    </header>
<div class="second" style="display: flex; justify-content: center; margin-bottom: 40px;">
   
<form method="POST" enctype="multipart/form-data" style="border: 2px solid #e1e1e1;border-radius: 1rem; width:70%;box-shadow: 20px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);padding: 20px;">
    {% csrf_token %}
    <div>
        <label for="id_profile_pic">Profile Picture:</label>
        <input type="file" name="profile_pic" id="id_profile_pic">
    </div>
    {{ form.as_p }}
    <button type="submit" >Save Changes</button>
</form>
</div>
<footer>
    <section class="footer">
        <div class="cont">
            <div class="detail">
                <h3>DestFinder</h3>
                <p>DestFinder is an innovative web application designed to simplify and enhance the travel planning experience for users.The platform acts as a comprehensive travel assistant,enabling users to discover destinations,explore transportation options,calculate travel_budgets, and connect with local guides for a personalized travel experience.</p>
                <h5>get in touch</h5>
                <a href="#">DestFinder123@mail.com</a>
                <div class="social">
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                </div>
            </div>
            <div class="about-us">
                <h4>about us</h4>
                <li><a href="{% url 'about' %}">about us</a></li>
                <li><a href="{% url 'about' %}">our team</a></li>
            </div>
            <div class="about-us">
                <h4>help</h4>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </div>
            <div class="about-us">
                <h4>Resources</h4>
                <li><a href="#">gallery</li>
            </div>
        </div>

        <div class="copyright">
            <div>
                &copy;2025 - DestFinder, inc, all rights reserved
            </div>
            <div>
                <a href="#">term & conditions</a>
                
            </div>
        </div>
    </section>
</footer>
<script src="{% static 'js/guide1.js' %}"></script>
</body>
</html>